@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px; }

body {
  font-family: 'Open Sans',sans-serif; }

.opportunities {
  margin-top: 60px; }

.opportunities-title {
  color: #000000;
  font-family: "Lucida Console";
  font-size: 20px;
  font-weight: 400; }

.opportunities-overlay {
  margin-top: 32px;
  border-top: 1px solid #dadada;
  position: relative; }
  .opportunities-overlay__item {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 18px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .opportunities-overlay__item p {
      width: 61px;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      margin-top: 23px; }

.opportunities-overlay::after {
  content: '';
  position: absolute;
  display: block;
  width: 90%;
  height: 1px;
  background-color: #dadada;
  top: 47%;
  left: 15px;
  right: 15px; }

.opportunities-overlay::before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  left: 50%;
  background-color: #dadada;
  top: 0px;
  right: 0px; }

.variables-nav__item {
  /* Style for "Прямокутни" */
  width: 100%;
  height: 40px;
  background-color: #444444;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 17px 0px 34px;
  margin-bottom: 2px; }
  .variables-nav__item span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400; }

.table {
  margin-bottom: 0px;
  border: none !important; }
  .table td {
    color: #444444;
    font-family: "Foundry Sterling OT 3";
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    padding: 15px 33px 10px 33px !important; }

.active img {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.table-bordered {
  display: none; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lucida Console';
  src: url("../fonts/lucidaconsole.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  margin-top: 12px; }

.header-main__schedule {
  color: #606060;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px; }

.header-main {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header-sub {
  margin-top: 26px;
  background-image: url(../img/bg-sub.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 176px; }
  .header-sub__title {
    width: 228px;
    height: auto;
    color: #010000;
    font-family: "Myriad Pro Regular";
    font-size: 22px;
    font-weight: 400;
    line-height: 28px; }

.repair {
  margin-top: 21px; }


.swiper-container {
  width: 100%;
  height: 100%; }

.inner_slide__title {
  width: 197px;
  color: #000000;
  font-family: "Myriad Pro Regular";
  font-size: 26px;
  font-weight: 400;
  line-height: 28px; }

.inner_slide__btn {
  padding: 0px 12px;
  width: 200px;
  height: 46px;
  cursor: pointer;
  background-color: #e13f3f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .inner_slide__btn img {
    margin-right: 11px;
    width: 16px;
    height: 16px; }
  .inner_slide__btn span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 36px; }

.inner_slide__content {
  width: 236px;
  color: #666666;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 20px auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url(../img/arrow.svg) !important;
  -webkit-background-size: cover !important;
  background-size: cover !important; }

.swiper-button-next {
  width: 96px !important;
  height: 12px !important;
  top: 19% !important; }

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;
  border: 1px solid #ff0000;
  margin-right: 15px; }

.swiper-pagination {
  width: 95%; }

.swiper-pagination-bullet-active {
  background: #ff0000 !important; }
