*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Open Sans',sans-serif;
}
.opportunities{
	margin-top: 60px;
}
.opportunities-title{
color: #000000;
font-family: "Lucida Console";
font-size: 20px;
font-weight: 400;
}
.opportunities-overlay{
	margin-top: 32px;
	border-top: 1px solid #dadada;
	position: relative;
	$this: &;
	&__item{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 18px 0px;
		justify-content: center;
		align-items: center;
		
		p{
width: 61px;
color: #000000;
font-size: 14px;
font-weight: 400;
			margin-top: 23px;
		}
	}
}
.opportunities-overlay::after{
    content: '';
    position: absolute;
    display: block;
    width: 90%;
    height: 1px;
    background-color: #dadada;
    top: 47%;
    left: 15px;
    right: 15px;
}
.opportunities-overlay::before{
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    left: 50%;
    background-color: #dadada;
    top: 0px;
    right: 0px;
}
.variables-nav{
	$this: &;
	&__item{
		/* Style for "Прямокутни" */
width: 100%;
height: 40px;
background-color: #444444;
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		justify-content: space-between;
		padding: 0px 17px 0px 34px;
		margin-bottom: 2px;
		span{
color: #ffffff;
font-size: 16px;
font-weight: 400;
		}
	}
}
.table{
	margin-bottom: 0px;
	border: none !important;
	td{
color: #444444;
font-family: "Foundry Sterling OT 3";
font-size: 16px;
font-weight: 500;
line-height: 30px;
		
			padding: 15px 33px 10px 33px !important;
	}
}
.active{
	img{
		transform: rotate(180deg);
	}

}
.table-bordered{
	display: none;
}