@font-face {
	font-family: 'Open Sans';
	src:
		url('../fonts/opensans.woff2') format('woff2'),
		url('../fonts/opensans.woff') format('woff'),
		url('../fonts/opensans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans SemiBold';
	src:
		url('../fonts/opensanssemibold.woff2') format('woff2'),
		url('../fonts/opensanssemibold.woff') format('woff'),
		url('../fonts/opensanssemibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Regular';
	src:
		url('../fonts/MyriadProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lucida Console';
	src:
		url('../fonts/lucidaconsole.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
